<!DOCTYPE html>
<html lang="cs">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{ .Title }} | {{ .Site.Title }}</title>
  <link rel="preload" href="/fonts/arculus.woff2" as="font" type="font/woff2" crossorigin>
  {{ $opts := dict "inlineImports" true "noMap" true }}
  {{- with resources.Get "css/style.css" | postCSS $opts | minify -}}
    <style>
      {{ .Content | safeCSS }}
    </style>
  {{- end -}}
  <script src="https://unpkg.com/@hotwired/turbo/dist/turbo.es2017-umd.js" type="module"></script>
</head>
<body>
  {{ partial "header.html" . }}
  <turbo-frame id="content" data-turbo-action="advance">
    {{ partial "nav.html" . }}
    <main class="main">{{ block "main" . }}{{ end }}</main>
  </turbo-frame>
  {{ partial "footer.html" . }}
  <script>
    document.addEventListener('turbo:load', () => {
      document.querySelectorAll('a[href*="#"]').forEach(link => {
        link.setAttribute('data-turbo', 'false');
      });
    });

    document.addEventListener('turbo:visit', (event) => {
      window.scrollTo({
        top: 0,
        behavior: 'smooth'
      });
    });
  </script>
</body>
</html>