<!DOCTYPE html>
<html lang="cs">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{ .Title }} | {{ .Site.Title }}</title>
  {{ $opts := dict "inlineImports" true "noMap" true }}
  {{ with resources.Get "css/style.css" | postCSS $opts | minify }}
    <style>
      {{ .Content | safeCSS }}
    </style>
  {{ end }}
  <script src="https://unpkg.com/@hotwired/turbo/dist/turbo.es2017-umd.js" type="module"></script>
</head>
<body>
  {{ partial "header.html" . }}
  <turbo-frame id="content" data-turbo-action="advance">
    {{ partial "nav.html" . }}
    <main class="main">{{ block "main" . }}{{ end }}</main>
  </turbo-frame>
  {{ partial "footer.html" . }}
</body>
</html>