* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	background: none;
	text-decoration: none;
	color: inherit;
	outline: 0;
}

html {
	font-family: "Helvetica Neue", sans-serif;
	padding: 5em;
	font-size: 1rem;
	line-height: 1.75;
	display: flex;
	flex-direction: column;
	min-height: 100%;
	background: var(--color-background);
	color: var(--color-text);
	overflow-y: scroll;
}

body {
	flex: 1;
	display: grid;
	grid-template-columns: min-content 45em;
	grid-template-rows: auto 1fr auto;
	column-gap: 5em;
	row-gap: 4em;
	margin: 0 auto;
}

turbo-frame {
	display: contents;
}
