.events {
   display: flex;
   flex-direction: column;
   gap: 1.5em;
   margin: 3em -1.5em;

   @media (max-width: 900px) {
		margin-left: 0;
		margin-right: 0;
	}

   h3 + & {
      margin-top: 1.5rem;
   }
}

