<nav class="nav">
  <button class="nav__toggle" onclick="this.closest('.nav').querySelector('.nav__list').classList.toggle('is-active')">
    {{ .Params.menuTitle | default .Title }}
  </button>
  <ul class="nav__list">
    {{ range sort .Site.Sections.ByWeight }}
    <li class="nav__item">
      <a href="{{ .RelPermalink }}" class="{{ if eq .RelPermalink $.RelPermalink }}is-active{{ end }}">
        {{ .Params.menuTitle | default .Title }}
      </a>
      {{ if .Pages }}
      <ul class="nav__sublist">
        {{ range sort .Pages.ByWeight }}
        <li>
          <a href="{{ .RelPermalink }}" class="{{ if eq .RelPermalink $.RelPermalink }}is-active{{ end }}">
            {{ .Params.menuTitle | default .Title }}
          </a>
        </li>
        {{ end }}
      </ul>
      {{ end }}
    </li>
    {{ end }}
  </ul>
</nav>