.main {
	grid-row: span 2;
	grid-column: 2;
}

.main__content {
	> * + * {
		margin-top: 1.5em;
	}

	> p {
		text-wrap: pretty;
		font-weight: 300;
	}

	> ul {
		font-weight: 300;
		text-wrap: pretty;

		+ p {
			margin-top: 2em;
		}

		> * + * {
			margin-top: 0.5em;
		}

		li {
			position: relative;
			padding-left: 1.25em;

			&::before {
				content: "";
				position: absolute;
				left: 0;
				top: 0.6em;
				clip-path: var(--clip-hexagon);
				width: calc(0.6em * var(--ratio-hexagon));
				height: 0.6em;
				background: currentColor;
				opacity: 0.9;
			}
		}
	}

	> p,
	> ul {
		a {
			color: var(--color-accent);
			font-weight: 500;
			transition: text-shadow 0.3s;

			&:hover,
			&:focus {
				text-shadow: var(--glow-strong);
			}
		}

		strong {
			font-weight: 500;
		}
	}

	> h3 {
		margin-top: 3rem;
		font-size: 1.25rem;
		letter-spacing: 0.05em;
		font-weight: 500;
	}
}
