{{ $courses := slice }}
{{ range $key, $value := .Site.Data.courses }}
    {{ $value = merge $value (dict "id" $key) }}
    {{ $courses = $courses | append $value }}
{{ end }}
{{ $filtered := where $courses "type" .Page.File.ContentBaseName }}
{{ range $filtered }}
    <section class="course" id="#{{ .id }}">
        {{ with resources.Get .image }}
            <div class="course__image">
                <img src="{{ .RelPermalink }}" role="presentation" />
            </div>
        {{ end }}
      
            <h4 class="course__title">{{ .title }}</h4>
            <div class="course__description">
                <p>{{ .description }}</p>
                {{ with .requirements }}
                <p><strong>Požadavky:</strong> {{ delimit . ", " }}</p>
                {{ end }}
            </div>
            <ul class="course__details">
                <li><strong>Délka</strong> <span>{{ .duration }} hodin</span></li>
                <li><strong>Účastníků</strong> <span>{{ .participants.min }}{{ with .participants.max }}-{{ . }}{{ end }}</span></li>
                <li><strong>Instruktoři</strong> <span>{{ .instructors.min }}{{ with .instructors.max }}-{{ . }}{{ end }}</span></li>
                <li><strong>Obtížnost</strong> <span class="course__difficulty">{{ range seq .level }}<span>⬢</span>{{ end }}</span></li>
                <li><strong>Cena</strong> <span>{{ .price | lang.FormatNumber 0 }} Kč</span></li>
            </ul>
  
    </section>
{{ end }}