{{ $id := .Get "id" }}

{{ $courses := slice }}
{{ range $key, $value := .Site.Data.courses }}
    {{ $value = merge $value (dict "id" $key) }}
    {{ $courses = $courses | append $value }}
{{ end }}

{{ $events := slice }}
{{ range $key, $value := .Site.Data.events }}
    {{ with where $courses "id" $value.type }}
        {{ $course := index . 0 }}
        {{ if $course }}
            {{ $eventData := merge $value (dict "id" $key "title" $course.title "image" $course.image "section" $course.type) }}
            {{ $events = $events | append $eventData }}
        {{ end }}
    {{ end }}
{{ end }}

{{ $matchingEvents := slice }}
{{ with $id }}
    {{ range where $courses "type" . }}
        {{ $matchingEvents = $matchingEvents | append (where $events "type" .id) }}
    {{ end }}
{{ else }}
    {{ $matchingEvents = $events }}
{{ end }}

{{ with $matchingEvents }}
    {{ $futureEvents := slice }}
    {{ range $matchingEvents }}
        {{ if gt (time.AsTime .time) now }}
        {{ $futureEvents = $futureEvents | append . }}
        {{ end }}
    {{ end }}
    {{ $availableEvents := where $futureEvents "spots" "gt" 0 }}
    {{ $fullEvents := where $futureEvents "spots" "eq" 0 }} 
    
    {{ $sortedAvailable := sort $availableEvents "time" }}
    {{ $sortedFull := sort $fullEvents "time" }}
    
    {{ $allEvents := append $sortedFull $sortedAvailable  }}
    
    <h3>Nadcházející kurzy</h3>
    <section class="events"> 
        {{ range $allEvents }}
            {{ $attendees := default 0 (index $.Site.Data.attendance .id) }}
            {{ $link := relref $ (printf "%s#%s" .section .type) }}
            <section class="event {{ if eq .spots 0 }}event--full{{ end }}">
                {{ with resources.Get .image }}
                    {{ with .Resize "250x" }}
                        <div class="event__image">
                            <img src="{{ .RelPermalink }}" role="presentation" />
                        </div>
                    {{ end }}
                {{ end }}
                <header class="event__header">
                    <h4 class="event__title"><a href="">{{ .title }}</a></h4>
                    {{ if .spots }}
                        <a class="event__cta" href="mailto:kurzy@arculus.cz?subject={{ .title }}" class="event__button">Přihlásit se</a>
                    {{ end }}
                </header>
                <ul class="event__details">
                    <li><strong>Datum</strong> <span><time class="event__time" datetime="{{ .time }}">{{ .time | time.Format ":date_long" }}</time></span></li>
                    <li><strong>Místo</strong> <span>{{ .location }}</span></li>
                    <li><strong>Volná místa</strong> <span>{{ math.Max (sub .spots $attendees) 0 }}</span></li>
                </ul>
                <a href="{{ $link }}" class="event__overlay"></a>
            </section>
        {{ end }}
    </section>
{{ end }}
