{{ $currentType := .Page.File.ContentBaseName }}

{{ $courses := slice }}
{{ range $key, $value := .Site.Data.courses }}
    {{ $value = merge $value (dict "id" $key) }}
    {{ $courses = $courses | append $value }}
{{ end }}

{{ $events := slice }}
{{ range $value := .Site.Data.events }}
    {{ $events = $events | append $value }}
{{ end }}

{{ $matchingEvents := slice }}
{{ range where $courses "type" $currentType }}
    {{ $matchingEvents = $matchingEvents | append (where $events "type" .id) }}
{{ end }}

{{ with $matchingEvents }}
    <section class="events">
        <h3>Nadcházející kurzy</h3>    
        {{ range . }}
            <div class="events__item">
                <time datetime="{{ .time }}">{{ .time | time.Format "2.1.2006" }}</time>
                <span class="events__location">{{ .location }}</span>
                <span class="events__spots">Volná místa: {{ .spots }}</span>
            </div>
        {{ end }}
    </section>
{{ end }}
